<aside class="site-header__911">
  <span>Emergency? Call <em>911</em></span>
</aside>

<nav class="rap">
  <ul class="menu">
    <li class="logo">
      <a href="/"><img src="{% imgPath '/assets/sjifire-logo-clear.png' %}" width="320" height="317" alt="San Juan Island Fire and Rescue Logo"></a>
    </li>
    {% for item in nav.items %}
      {% if item.children and item.children.size > 0 %}
        {%- assign folderPath = '/' | append: item.folder | append: '/' -%}
        <li class="item has-submenu{% if page.url contains folderPath %} active{% endif %}">
          <a tabindex="0">{{ item.label }}</a>
          <ul class="submenu">
            {% for child in item.children %}
              <li class="subitem"><a href="{{ child.url }}">{% if child.nav_title %}{{ child.nav_title }}{% else %}{{ child.label }}{% endif %}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% elsif item.url %}
        <li class="item{% if page.url contains item.url %} active{% endif %}">
          <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="toggle">
      <a href="#" aria-label="Toggle navigation menu"><svg aria-hidden="true"><use xlink:href='#menu' /></svg><span class="sr-only">Menu</span></a>
    </li>
    {% if nav.headerHighlight %}
    <li class="item item--highlight">
      <a href="{{ nav.headerHighlight.url }}">{{ nav.headerHighlight.nav_title }}</a>
    </li>
    {% endif %}

  </ul>
</nav>

{% if page.url == '/' or page.fileSlug == 'news-article' %}
  <header class="page-header page-header--{% if page.url == '/' %}home{% else %}news{% endif %}">
    <div class="rap">
      <article class="l-squeezed">
          <h1>
            {% if page.url == '/' %}{{ title }}{% else %}{{ post.title }}{% endif %}
          </h1>
          {% if page.fileSlug == 'news-article' %}
            <time datetime="{{ post.date | htmlDateStringISO }}" pubdate="pubdate">
              {{ post.date | postDateVerboseISO }}
            </time>
          {% endif %}
          <div class="lede">
            {% if page.url == '/' %}{{ preamble | markdownify }}{% else %}{{ post.lede | markdownify }}{% endif %}
          </div>
      </article>
    </div>
  </header>
{% endif %}
