---
title: "Media Releases"
permalink: "/news/media-releases/index.html"
layout: base
---
{%- assign pageData = media_releases_page -%}

<div class="l-squeezed block-content">
  <h1>
    {{ title }}
  </h1>
  <div class="lede">
    {{ pageData.preamble | markdownify }}
  </div>
</div>
<section class="l-squeezed media-releases">
  {%- assign groupedReleases = media_releases | groupby: 'year' -%}
  {%- assign sortedGroups = groupedReleases | dictsort | reverse -%}
  {% for group in sortedGroups %}
    {%- assign year = group[0] -%}
    {%- assign releases = group[1] -%}
    <details{% if forloop.first %} open{% endif %}>
      <summary class="media-release__toggle">
        <h2>{{ year }}</h2>
      </summary>
      <ul class="l-grid l-grid--media" style="padding-bottom:3rem;">
        {% for release in releases %}
          <li>
            <a class="media_container" href="{{ release.document }}">
              <img src="{% imgPath release.document, 'f_auto,pg_1' %}" width="120" height="150" alt="Thumbnail preview of {{ release.date | postDateTerseISO }} press release">
            </a>
            <h3>
              {{ release.date | postDateTerseNoYearISO }}
            </h3>
            <p>
              <a href="{{ release.document }}">
                {{ release.title }}
              </a>
            </p>
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
</section>
